@font-face {
  font-family: "regular";
  src: url(./fonts/TelefonicaWeb-Regular.woff), url(./fonts/TelefonicaWeb-Regular.eot), url(./fonts/TelefonicaWeb-Regular.woff2), url(./fonts/TelefonicaWeb-Regular.svg);
}
@font-face {
  font-family: "light";
  src: url(./fonts/TelefonicaWeb-Light.woff), url(./fonts/TelefonicaWeb-Light.eot), url(./fonts/TelefonicaWeb-Light.svg), url(./fonts/TelefonicaWeb-Light.woff2);
}
@font-face {
  font-family: "extra-light";
  src: url(./fonts/TelefonicaWeb-ExtraLight.woff), url(./fonts/TelefonicaWeb-ExtraExtraLight.eot), url(./fonts/TelefonicaWeb-ExtraLight.svg), url(./fonts/TelefonicaWeb-ExtraLight.woff2);
}
@font-face {
  font-family: "dot-movistar";
  src: url(./fonts/dotmovistar-font.woff), url(./fonts/dotmovistar-font.eot), url(./fonts/dotmovistar-font.woff2), url(./fonts/dotmovistar-font.svg);
}
$blue: #1caadf;
$grey: #86888c;
* {
  margin: 0;
  padding: 0;
}
#navResponsive{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 7;
  background-color: white;
  li{
    width: 100%;
    height: 16.6%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "regular";
    font-size: 30px;
    a{
      text-align: center;
      text-decoration: none;
      color: $blue;
    }
  }
  li:nth-child(4){
    font-family: "dot-movistar";
  }
  li:nth-child(6){
    button{
        padding: 10px;
        background-color: $blue;
        width: 100px;
        cursor: pointer;
        font-family: "regular";
        border-radius: 10px;
    }
  }
}
#menu{
  width: 40px;
  height: 40px;
  z-index: 200;
  position: fixed;
  top:10px;
  right: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  
  .line{
    width: 30px;
    height: 6px;
    background-color: $blue;
    border-radius: 2.5px;
    margin-bottom: 5px;
  }
}
#checkBox{
  display: none;
}
#navBar {
  width: 100vw;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow:0px 1px 5px black ;
  a{
    margin-left: 10px;
  }
  
  ul {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    li {
      font-family: "light";
      margin: 2px 10px;
      font-size: 15px;
      display: flex;
      text-align: center;
      align-items: center;
      max-height: 60px;
      a{
        width: inherit;
        color: black;
        text-decoration: none;
        box-sizing: border-box;
      }
      a:visited{
        color: black;
      }
      a:hover{
        text-decoration: underline black;
      }
    }
    
    li:nth-child(4){
      font-family: "dot-movistar";
      display: flex;
      justify-content: center;
      align-items: center;
      .navButton{
        margin: 0 20px;
      }
      img{
        width: 35px;
      }
      button{
        padding: 10px;
        background-color: $blue;
        width: 100px;
        cursor: pointer;
        font-family: "regular";
        border-radius: 10px;

      }
    }
  }
}

#home {
  background-color: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 0;
  h1 {
    font-family: "extra-light";
    font-size: 70px;
    text-align: center;
    color: white;
    font-weight: 600;
    z-index: 6;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 6;
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      input {
        padding: 0;
        margin: 0;
        width: 300px;
        height: 45px;
        background-color: #caf1e4c9;
        border: unset;
        font-size: 20px;
        font-family: "regular";
        text-align: center;
      }
      button {
        padding: 0;
        margin: 0;
        width: 150px;
        height: 45px;
        cursor: pointer;
        background-color: $blue;
        border: unset;
        box-shadow: 0px 0px 2px black;
        color: white;
        font-size: 20px;
        font-family: "regular";
      }
    }
    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;

      label {
        font-family: "extra-light";
        font-size: 15px;
        color: white;
        a {
          color: white;
        }
        a:visited {
          color: white;
        }
      }
    }
  }
  #persona {
    width: 550px;
    position: absolute;
    bottom: 0;
    left: 85px;
    z-index: 4;
  }
  #pantalla{
    position: absolute;
    left: 144px;
    bottom: 236px;
    z-index: 5;
    width: 105px;
  }
  .estrella {
    z-index: 6;
    position: absolute;
    right: 70px;
    bottom: 200px;
    width: 175px;
    img{
      width: 175px;
    }
    
  }
  svg {
    display: block;
    position: absolute;
    left: 0;
    bottom: -1px;
    z-index: 5;
  }
}
#info {
  height: 100vh;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  h2 {
    width: 70%;
    text-align: center;
    font-family: "regular";
    margin-bottom: 45px;
    color: #5c5d61;
    font-weight: normal;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 85%;
    #planActual {
      border-radius: 3px;
      height: 350px;
      width: 300px;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background-color: $grey;
      color: white;
      font-family: "regular";
      p:nth-child(1){
        font-size: 25px;
      }
      p:nth-child(2){
        font-size: 45px;
        font-family: "light";
        margin: 55px 0px;
      }
      p:nth-child(3){
        font-size: 25px;
      }
    }
    #planNuevo {
      max-width: 800px;
      border-radius: 3px;
      margin: 10px;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: $blue;
      color: white;
      font-family: "extra-light";
      h4{
        margin: 15px;
        font-size: 20px;
      }
      #beneficios {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        #descripcion {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          text-align: center;
          padding: 10px;
          p:nth-child(1){
            font-family: "regular";
            font-size: 65px;
            font-weight: bold;
            margin: 5px;
          }
          p:nth-child(2){
            font-family: "light";
            font-size: 13px;
          }
          p:nth-child(3){
            margin-top: 10px;
            font-family: "regular";
            font-size: 25px;
            font-weight: normal;
          }
        }
        #otros {
          display: grid;
          grid-template-columns: repeat(2,185px);
          grid-template-rows: repeat(2,75px) ;
          gap: 15px;
          width: 60%;
          .otro {
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 1px solid white;
            font-family: "light";
            font-size: 15px;
            text-align: center;
            flex-direction: column;
            padding: 5px;
            box-sizing: border-box;
          }
          .otro:nth-child(1){
            img{
              margin-top: 5px;
              width: 100px;
            }
            span{
              font-weight: bolder;
            }
          }
          .otro:nth-child(2){
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: row;
            img{
              margin-right: 10px;
              filter: brightness(2);
            }
            p{
              width: 130px;
              text-align: left;
              span{
                font-weight: bolder;
              }
            }
          }
          .otro:nth-child(3){
            font-size: 13px;
            img{
              width: 100px;
              filter: brightness(5);

            }
          }
          .otro:nth-child(4){
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: row;
            img{
              margin-right: 10px;
              filter: brightness(5);

            }
            p{
              text-align: left;
              width: 130px;
            }
          }
          
        }
      }
    }
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .text {
      input {
        width: 250px;
        height: 42px;
        font-family: "regular";
        text-align: center;
        font-size: 17px;
      }
      button {
        width: 170px;
        height: 45px;
        cursor: pointer;
        background-color: $grey;
        color: white;
        font-family: "regular";
        font-weight: bold;
        font-size: 17px;
      }
    }
    .checkbox {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      label {
        font-family: "light";
        font-size: 12px;
        color: black;
        
      }
      a {
        color: $grey;
      }
      a:visited {
        color: $grey;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #home{
    h1{
      font-size: 55px;
    }
    #persona{
      left: 0;
    }
    #pantalla{
      left: 59px;
    }
    .estrella{
      bottom: 75px;
    }
    
  }
  #info{
    div{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      #planNuevo{
        padding: 0;
        h4{
          margin: 15px 5px
        }
        #beneficios{
          #descripcion{
            width: 35%;
            padding: 5px;
            p:nth-child(1){
            font-size: 45px;
            }
          }
          #otros{
            width:65%  ;
          }
        }
        
      }
    }
  }
}
@media screen and (max-width: 768px){
    #menu{
      display: flex;
    }
    #navBar{
      ul{
        display: none;
      }
    }
    #home{
      form{
        .text{
          flex-direction: column;
          button{
            margin: 3px;
          }
        }
        .checkbox{
          label{
            
            width: 300px;
            color: black;
            font-family: "regular";
            text-align: center;
            a {
              color: black;
            }
            a:visited {
              color: black;
            }
          }
        }
      }
      .estrella{
        width: 120px;
        bottom: 20px;
        right: 70px;
        img{
          width: 120px;
        }
      }
    }
    #info{
      div{
        flex-direction: column;
        #planNuevo{
          h4{
            padding: 10px;
            box-sizing: border-box;
          }
          #beneficios{
            flex-direction: column;
          }
        }
      }
    }
}
@media screen and (max-width: 425px){
  #home{
    h1{
      font-family: "extra-light";
      font-weight: 400;
      font-size: 50px;
    }
    #persona{
      width: 500px;
      left: -50px;
      bottom: 15px;
    }
    #pantalla{
      width: 95px;
      left: 4px;
      bottom: 230px;
    }
    .estrella{
      left: 0; 
      right: 0; 
      margin-left: auto; 
      margin-right: auto; 
    }
  }
  #info{
    div{
      #planNuevo{
        #beneficios{
            #descripcion{
              width: 60%;
              p:nth-child(1){
                font-size: 50px;
              }
            }
            #otros{
              grid-template-columns:185px;
              grid-template-rows: repeat(4,75px) ;
              gap:5px;
           }
        }
      }
    }
  }
}