@font-face {
  font-family: "regular";
  src: url(./fonts/TelefonicaWeb-Regular.woff);
}

@font-face {
  font-family: "light";
  src: url(./fonts/TelefonicaWeb-Light.woff);
}

@font-face {
  font-family: "extra-light";
  src: url(./fonts/TelefonicaWeb-ExtraLight.woff);
}

@font-face {
  font-family: "dot-movistar";
  src: url(./fonts/dotmovistar-font.woff);
}

* {
  margin: 0;
  padding: 0;
}

#navBar {
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 1;
}

#navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}

#navBar ul li {
  font-family: "light";
  margin: 2px 5px;
  text-align: center;
  font-size: 10px;
}

#home {
  background-color: #1caadf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  position: relative;
  z-index: 0;
}

#home h1 {
  font-family: "extra-light";
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: 600;
  z-index: 6;
}

#home form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 6;
}

#home form .text input {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 30px;
  background-color: #caf1e4c9;
  border: unset;
}

#home form .text button {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 30px;
  cursor: pointer;
  background-color: #1caadf;
  border: unset;
  -webkit-box-shadow: 0px 0px 1px black;
          box-shadow: 0px 0px 1px black;
  color: white;
}

#home form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home form .checkbox label {
  font-family: "extra-light";
  font-size: 9px;
  color: white;
}

#home form .checkbox label a {
  color: white;
}

#home form .checkbox label a:visited {
  color: white;
}

#home #persona {
  width: 350px;
  position: absolute;
  bottom: 0;
  left: 35px;
  z-index: 4;
}

#home .estrella {
  z-index: 6;
  position: absolute;
  right: 70px;
  bottom: 100px;
  width: 150px;
}

#home .estrella img {
  width: 150px;
}

#home svg {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 5;
}

#info {
  height: 100vh;
  padding-top: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#info h3 {
  width: 80%;
  text-align: center;
  font-family: "regular";
  margin-bottom: 25px;
  color: #5c5d61;
  font-weight: normal;
}

#info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
}

#info div #planActual {
  height: 300px;
  width: 200px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #86888c;
  color: white;
  font-family: "extra-light";
}

#info div #planNuevo {
  border-radius: 3px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #1caadf;
  color: white;
  font-family: "extra-light";
}

#info div #planNuevo #beneficios {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#info div #planNuevo #beneficios #descripcion {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 10px;
}

#info div #planNuevo #beneficios #descripcion p:nth-child(1) {
  font-family: "regular";
  font-size: 50px;
  font-weight: bold;
}

#info div #planNuevo #beneficios #descripcion p:nth-child(2) {
  font-family: "light";
  font-size: 10px;
}

#info div #planNuevo #beneficios #descripcion p:nth-child(3) {
  font-family: "regular";
  font-size: 20px;
  font-weight: normal;
}

#info div #planNuevo #beneficios #otros {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (145px)[2];
      grid-template-columns: repeat(2, 145px);
  -ms-grid-rows: (55px)[2];
      grid-template-rows: repeat(2, 55px);
  gap: 15px;
  width: 60%;
}

#info div #planNuevo #beneficios #otros .otro {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid white;
  font-family: "light";
  font-size: 10px;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#info div #planNuevo #beneficios #otros .otro:nth-child(1) img {
  margin-top: 5px;
  width: 100px;
}

#info div #planNuevo #beneficios #otros .otro:nth-child(3) img {
  width: 100px;
}

#info form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#info form .text input {
  width: 200px;
  height: 25px;
}

#info form .text button {
  width: 150px;
  height: 30px;
  cursor: pointer;
}

#info form .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#info form .checkbox label {
  font-family: "extra-light";
  font-size: 9px;
}

#info form .checkbox a {
  color: #86888c;
}

#info form .checkbox a:visited {
  color: #86888c;
}
/*# sourceMappingURL=styles.css.map */